body {
  background-color: #EFEFEF;
  font-family: 'Open Sans';
  .well {
    background-color: #dae1ff
  }
}
.flat-box {
  .flat-box-heading {
    display: flex;
  }
  .flat-box-title {
    display: flex;
    background-color: #34495E;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #dddddd;
    cursor: pointer;
  }
  .flat-box-title.active {
    background-color: #2C3E50;
  }
}
.flat-box-content {
  padding: 15px;
  background-color: #2C3E50;
}
.oc-container {
  display: flex;

}
.oc-list-head {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #526E82;
  margin: 1px;
  h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #d7d7d7;
  }
}
.oc-list-group {
  border-radius: 0;
  .oc-list-item:first-child, .oc-list-item:last-child {
    border-radius: 0;
  }

  .oc-list-item {
    padding: 0;
    margin-bottom: 1px;
    border: none;
    border-radius: 0;
  }
}


.product-list {

  .btn-info {
    margin: 5px 0;
  }


  span {
    padding-right: 60px;
  }
  .media-object {
    height: auto;
    width: 64px;
  }
  .media-right .btn {
    margin: 2px;
  }



  h3 {
    min-height: 60px;
  }
  h6 {
    text-align: right;
    color: #878787;
    font-weight: 700;
  }

  .product-search-result {
    margin-left: 15px;
    color: #646464;
    strong {
      color: green;
    }
    div {
      margin-left: 10px;
    }
  }
}