<div class="container product-list">
    <h1 class="page-header">Manage Products</h1>
    <button class="btn btn-block btn-info" ng-init="productList.showAdd = false" ng-click="productList.showAdd = !productList.showAdd">Add Product</button>
    <div class="well" ng-show="productList.showAdd">
        <form ng-submit="productList.addProduct(product)">
            <div class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" placeholder="Product Name" ng-model="product.Name" />
            </div>
            <div class="form-group">
                <label>Product Description</label>
                <input type="text" class="form-control" placeholder="Product Description" ng-model="product.Description" />
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activeSet" value="true" ng-model="product.Active" />
                    Active
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activeSet" value="false" ng-model="product.Active" />
                    Inactive
                </label>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Create New Product</button>
            </div>
        </form>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="product in productList.products">
            <div class="media">
                <div class="media-left">
                    <a href="">
                        <img class="media-object" src="http://placekitten.com/g/500/500">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{product.Name}}</h4>
                    <p>{{product.Description}}</p>
                    <span>Type: {{product.Type}}</span>
                    <span>ID: {{product.ID}}</span>
                    <span>Active: {{product.Active}}</span>
                </div>
                <div class="media-right">
                    <button ng-init="product.showForm = false" class="btn btn-default" ng-click="product.showForm = !product.showForm">Modify</button>
                    <button class="btn btn-danger" ng-click="productList.deleteProduct(product.ID)">Delete</button>
                </div>
            </div>
            <div class="well" ng-show="product.showForm">
                <h3>Enter Changes Where Necessary</h3>
                <settings product="product" action="modify"></settings>
                <assignments focus="products" object="product"></assignments>

            </div>
        </li>
    </ul>
</div>
