<div>
    <div class="well">
        <button class="btn btn-primary" ng-click="test.categories1()">Category Product Assignments</button><br/>
        <pre ng-show="test.categories.response1">
            <code>
                {{test.categories.response1 | json}}
            </code>
        </pre>
    </div>
    <div class="well">
        <button class="btn btn-primary" ng-click="test.categories2()">All Category Product Assignments</button><br/>
        <pre ng-show="test.categories.response2">
            <code>
                {{test.categories.response2 | json}}
            </code>
        </pre>
    </div>
    <div class="well">
        <button class="btn btn-primary" ng-click="test.categories3()">Category Assignments</button><br/>
        <pre ng-show="test.categories.response3">
            <code>
                {{test.categories.response3 | json}}
            </code>
        </pre>
    </div>
    <div class="well">
        <button class="btn btn-primary" ng-click="test.categories4()">All Category Assignments</button><br/>
        <pre ng-show="test.categories.response4">
            <code>
                {{test.categories.response4 | json}}
            </code>
        </pre>
    </div>
    <div class="well">
        <button class="btn btn-primary" ng-click="test.categories5()">List All Categories</button><br/>
        <pre ng-show="test.categories.response5">
            <code>
                {{test.categories.response5 | json}}
            </code>
        </pre>
    </div>
    <div class="well">
        <button class="btn btn-primary" ng-click="test.categories6()">Show Category Tree</button><br/>
        <pre ng-show="test.categories.response6">
            <code>
                {{test.categories.response6 | json}}
            </code>
        </pre>
    </div>
    <div class="well">
        <button class="btn btn-primary" ng-click="test.categories7()">Show Category Tree with Products</button><br/>
        <pre ng-show="test.categories.response7">
            <code>
                {{test.categories.response7 | json}}
            </code>
        </pre>
    </div>
</div>