<h1>Assignments</h1>
<div ng-if="assignments.focus == 'products' && assignments.target == 'categories' || assignments.target == null">
    <h4>Categories with this product...</h4>
    <div class="tag-group">
        <div class="tag">
            <span class="tag-name">New Products<a><i class="fa fa-times-circle fa-2x"></i></a></span>
        </div>
        <div class="tag">
            <span class="tag-name">New Products<a><i class="fa fa-times-circle fa-2x"></i></a></span>
        </div>
    </div>



    <form ng-submit="TBD()">
        <div class="form-group">
            <input type="text"
                   ng-model="product.newCategory"
                   placeholder="Category"
                   typeahead="category as category.Name for category in productList.getCategories($viewValue)"
                   typeahead-loading="loadingCategory"
                   typeahead-min-length="3"
                   typeahead-template-url="components/directives/assignments/inputSearchTemplate.tpl.html"
                   typeahead-no-results="noResults"
                   class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Assign Product to Category</button>
        </div>
    </form>
</div>

<div ng-if="assignments.focus == 'products' && assignments.target == 'users' || assignments.target == null">
    <div>
        <h4>Users with this product...</h4>
    </div>
    <form ng-submit="TBD()">
        <div class="form-group">
            <input type="text"
                   ng-model="product.newUser"
                   placeholder="Enter User"
                   typeahead="user as user.Name for user in assignmentsSvc.getUsers($viewValue)"
                   typeahead-loading="loadingUser"
                   typeahead-min-length="2"
                   typeahead-template-url="components/directives/assignments/inputSearchTemplate.tpl.html"
                   typeahead-no-results="noResults"
                   class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Assign Product to User</button>
        </div>
    </form>
</div>
