assignments {
  .tag-group {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    margin-bottom: 15px;
    .tag {
      padding: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      .tag-name {
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
        padding: 0 1px 0 1px;
        border-radius: 35px;
        background-color: #F26645;
        span {
          padding-right: 5px;
          ul {
            margin-top: 7px;
          }
        }
        span a:nth-of-type(1) {
          font-size: .9em;
          padding: 1px 5px 1px 5px;
        }
        a:nth-of-type(1) {
          padding: 1px 2px 1px 10px;
        }
        a i {
          color: #eeeeee;
        }
      }
    }
  }

  .product-user-search-result {
    padding: 0;
    color: #646464;
    strong {
      color: green;
    }
    div {
      border-top: .5px solid #dddddd;
      padding-top: 0px;
      padding-left: 20px;
      margin: 2px 5px 0px 5px;
    }
    span {
      padding-right: 3px;

    }
    span:nth-of-type(1) {
      margin-left: 10px;
    }
  }

}